<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>    
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Grinder</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="index follow"/>
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
        <meta http-equiv="PRAGMA" content="NO-CACHE">
        <!-- Mobile Configurations -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="GOOGLEBOT" content="index follow"/>
	<link rel="canonical" href="">
        <!-- CSS -->
        <link rel="stylesheet" href="resources/css/normalize.min.css" />
        <link rel="stylesheet" href="resources/css/style.css" />
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="resources/js/css3-mediaqueries.js" type="text/javascript"></script>    
            <script src="resources/js/selectivizr-min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="resources/css/css-ie.css" />
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">
            <section id="container">
                <div class="containerDiamonds animated fadeInDown">
                    <div class="first"></div>
                    <div class="second"></div>
                    <div class="third"></div>
                </div>
                <div class="title animated fadeInDown"></div>
                <div class="subtitle animated fadeInDown"></div>
                <div class="spanSubtitle animated fadeInDown"></div>
                <ul class="countdown animated fadeInDown">
                    <li class="days">
                        <div class="value">00</div>
                        <div class="legendary"></div>
                    </li>
                    <li class="hours">
                        <div class="value">00</div>
                        <div class="legendary"></div>
                    </li>
                    <li class="minutes">
                        <div class="value">00</div>
                        <div class="legendary"></div>
                    </li>
                    <li class="seconds">
                        <div class="value">00</div>
                        <div class="legendary"></div>
                    </li>
                </ul>
                <div class="subscribeAndSocial animated fadeInDown">
                    <div class="newsletter">
                        <div class="title"></div>
                        <form id="form">
                            <input type="text" name="email" placeholder=""/>
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <input type="submit" value="" />
                        </form>
                        <div id="notifications"></div>
                    </div>
                    <div class="socialNetwork">
                        <div class="title"></div>
                        <ul class="social">
                            <li class="facebook"><a href="" target="_blank" title="Facebook"><span class="icon-Facebook"></span></a></li>
                            <li class="twitter"><a href="" target="_blank" title="Twitter"><span class="icon-Twitter"></span></a></li>
                            <li class="gplus"><a href="" target="_blank" title="Gplus"><span class="icon-Gplus"></span></a></li>
                            <li class="dribbble"><a href="" target="_blank" title="Dribbble"><span class="icon-Dribbble"></span></a></li>
                            <li class="flickr"><a href="" target="_blank" title="Flickr"><span class="icon-Dot"></span></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <div style="clear:both"></div>
            <footer class="animated fadeInDown">
                <div class="copyright"></div>
            </footer>
        </div>
        <!-- js -->
        <!--[if lt IE 9]>
        <script type='text/javascript' src="resources/js/jquery-min-ie.js"></script>
        <![endif]-->
        <!--[if (gte IE 9) | (!IE)]><!-->
        <script type='text/javascript' src="resources/js/jquery-min-2.0.3.js"></script>
        <!--<![endif]-->
        <script type='text/javascript' src='resources/js/main-min.js'></script>
    </body>
</html>